name: "Test Cron Job"

on:
  schedule:
    - cron: "1 * * * *"  # Run every 5 minutes
  workflow_dispatch:  # Manually trigger the workflow

jobs:
  test-cron:
    runs-on: ubuntu-latest
    steps:
      - name: Print current time
        run: echo "The cron job ran at $(date)"
